logic-apps/playbook-reinstall-databricks-libraries.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_RCA_sends_library_reinstall_request": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "cluster_id": {
                                "type": "string"
                            },
                            "job_name": {
                                "type": "string"
                            },
                            "job_id": {
                                "type": ["integer", "null"]
                            },
                            "ticket_id": {
                                "type": "string"
                            },
                            "error_type": {
                                "type": "string"
                            },
                            "original_run_id": {
                                "type": ["string", "integer"]
                            },
                            "retry_attempt": {
                                "type": "integer"
                            },
                            "callback_url": {
                                "type": "string"
                            },
                            "databricks_workspace_url": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "cluster_id",
                            "ticket_id",
                            "callback_url"
                        ]
                    }
                }
            }
        },
        "actions": {
            "Initialize_Variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ClusterState",
                            "type": "string",
                            "value": "PENDING"
                        },
                        {
                            "name": "AttemptNumber",
                            "type": "integer",
                            "value": "@triggerBody()?['retry_attempt']"
                        },
                        {
                            "name": "Libraries",
                            "type": "array",
                            "value": []
                        },
                        {
                            "name": "RunId",
                            "type": "string",
                            "value": ""
                        }
                    ]
                },
                "runAfter": {}
            },
            "Get_Cluster_Details": {
                "type": "Http",
                "inputs": {
                    "uri": "@{triggerBody()?['databricks_workspace_url']}/api/2.0/clusters/get?cluster_id=@{triggerBody()?['cluster_id']}",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
                    }
                },
                "runAfter": {
                    "Initialize_Variables": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Libraries": {
                "type": "SetVariable",
                "inputs": {
                    "name": "Libraries",
                    "value": "@body('Get_Cluster_Details')?['cluster_libraries']"
                },
                "runAfter": {
                    "Get_Cluster_Details": [
                        "Succeeded"
                    ]
                }
            },
            "Restart_Cluster_For_Clean_State": {
                "type": "Http",
                "inputs": {
                    "uri": "@{triggerBody()?['databricks_workspace_url']}/api/2.0/clusters/restart",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
                    },
                    "body": {
                        "cluster_id": "@triggerBody()?['cluster_id']"
                    }
                },
                "runAfter": {
                    "Set_Libraries": [
                        "Succeeded"
                    ]
                }
            },
            "Monitor_Cluster_Restart": {
                "type": "Until",
                "expression": "@or(equals(variables('ClusterState'), 'RUNNING'), equals(variables('ClusterState'), 'ERROR'))",
                "limit": {
                    "count": 60,
                    "timeout": "PT30M"
                },
                "actions": {
                    "Get_Cluster_Status": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{triggerBody()?['databricks_workspace_url']}/api/2.0/clusters/get?cluster_id=@{triggerBody()?['cluster_id']}",
                            "method": "GET",
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
                            }
                        }
                    },
                    "Update_ClusterState": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "ClusterState",
                            "value": "@body('Get_Cluster_Status')?['state']"
                        },
                        "runAfter": {
                            "Get_Cluster_Status": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Delay_30_Seconds": {
                        "type": "Wait",
                        "inputs": {
                            "interval": {
                                "count": 30,
                                "unit": "Second"
                            }
                        },
                        "runAfter": {
                            "Update_ClusterState": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Restart_Cluster_For_Clean_State": [
                        "Succeeded"
                    ]
                }
            },
            "Check_Cluster_And_Retry_Job": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@variables('ClusterState')",
                                "RUNNING"
                            ]
                        },
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['job_id']",
                                    null
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Retry_Job_After_Library_Fix": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{triggerBody()?['databricks_workspace_url']}/api/2.1/jobs/run-now",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
                            },
                            "body": {
                                "job_id": "@triggerBody()?['job_id']"
                            }
                        }
                    },
                    "Set_New_RunId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "RunId",
                            "value": "@{body('Retry_Job_After_Library_Fix')?['run_id']}"
                        },
                        "runAfter": {
                            "Retry_Job_After_Library_Fix": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Callback_Library_Fixed": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@triggerBody()?['callback_url']",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "ticket_id": "@triggerBody()?['ticket_id']",
                                "status": "LibrariesReinstalled",
                                "success": true,
                                "attempt_number": "@variables('AttemptNumber')",
                                "remediation_run_id": "@variables('RunId')",
                                "job_name": "@triggerBody()?['job_name']",
                                "cluster_id": "@triggerBody()?['cluster_id']",
                                "original_run_id": "@triggerBody()?['original_run_id']",
                                "error_type": "@triggerBody()?['error_type']",
                                "message": "Cluster restarted with libraries reinstalled and job submitted",
                                "timestamp": "@utcNow()"
                            }
                        },
                        "runAfter": {
                            "Set_New_RunId": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Check_Result": {
                            "type": "Switch",
                            "expression": "@variables('ClusterState')",
                            "default": {
                                "actions": {
                                    "Callback_Failed": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@triggerBody()?['callback_url']",
                                            "method": "POST",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "body": {
                                                "ticket_id": "@triggerBody()?['ticket_id']",
                                                "status": "Failed",
                                                "success": false,
                                                "attempt_number": "@variables('AttemptNumber')",
                                                "cluster_id": "@triggerBody()?['cluster_id']",
                                                "error_type": "@triggerBody()?['error_type']",
                                                "error_message": "Failed to restart cluster for library reinstallation",
                                                "timestamp": "@utcNow()"
                                            }
                                        }
                                    }
                                }
                            },
                            "cases": {
                                "Success": {
                                    "actions": {
                                        "Callback_Success": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@triggerBody()?['callback_url']",
                                                "method": "POST",
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "ticket_id": "@triggerBody()?['ticket_id']",
                                                    "status": "Succeeded",
                                                    "success": true,
                                                    "attempt_number": "@variables('AttemptNumber')",
                                                    "cluster_id": "@triggerBody()?['cluster_id']",
                                                    "error_type": "@triggerBody()?['error_type']",
                                                    "message": "Cluster restarted with libraries reinstalled successfully",
                                                    "timestamp": "@utcNow()"
                                                }
                                            }
                                        }
                                    },
                                    "case": "RUNNING"
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Monitor_Cluster_Restart": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {}
    }
}
